@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    dim --dark,
    nord --light;
}

@theme {
  --font-sans:
    'Inter', 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
